<template id="agit-mlang-form">
    <span class="multilang">
        <input type="text" class="form-control" value="">
        <textarea class="form-control"></textarea>

        <span class="langs">
            {% for idx, loc in getActiveLocales() %}
                <a class="lang" tabindex="1000{{ idx }}" data-locale="{{ loc }}">
                    <i class="fa fa-caret-down"></i>
                    <span></span>
                </a>
            {% endfor %}
        </span>
    </span>
</template>
